


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*.background-image{
    background-image: url(./images/main-backgroundg.png);
    
    height: 617px;
    background-repeat: no-repeat;
    
}*/

.hero-fluid {
    background-image: url(./images/back-image3.jpg);
    width: 100%;
    height: 617px;
    background-size:cover;
    
}

.border-3 {
    border-width:3px !important;
}
.poftolio-images img{
  width: 100%;
    
}
.testomonila h6 {
    text-align: center;
    font-family: ubuntu;
    font-weight: 16px;
}
.followers{
    font-family: 'Abril Fatface';
}
.navbar-brand {
    font-family: iceland;
    font-weight: bold;
    font-size: 2.1rem;
}
.contact-us-image img{
    width: 100%;
    height: 100%;
}
.purple-square-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 25%;
   height: 300px;
   border-radius: 5px;
   margin-left: -2px;
   font-family: Righteous;
   font-size: 5.5rem;
  }
  .container{
      background-color:rgb(250, 250, 250) ;
  }
  @media (max-width: 576.98px) { 
      
    .purple-square-container{
        width: 35%;
        height: 150px;
        margin-left: -1px;
        font-size: 2rem;
    }
    .hero-fluid{
        height: 350px;
    }


}
@media (max-width: 767px) { 
    .social-following {
        display: none;
    }
    
    .social-following2{
        display: flex;
        justify-content: space-evenly;
    }
}


@media (min-width:768px){
    .social-following2{
        display: none;
    }
}
